.kaufman {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px;
    padding: 90px 0 90px;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    background-color: #1f1f1f;
    color:white;
  }