.two-columns__main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
    font-size: 24px;
    font-weight : normal;
    line-height: 34px;
    justify-content: space-between;
  }
  .two-columns__main-text :last-child {
    margin-bottom: 0;
  } 